body {
    padding: 0px 50px;
    width: 1320px;
}

#headerBanner {
    background-image: linear-gradient(to bottom right, hwb(258 0% 86% / 0.5), rgba(7, 5, 56, 0.5)), url(resources/Banner\ Image.png);
    background-size: cover;
    background-position: center;
    height: 600px;
}

#headerBannerTittle {
    height: 245px;
    color: white;
    text-align: center;
    padding-top: 120px;
    font-size: 40px;
}


#offerSection {
    text-align: center;

}

#joinPartySection {
    display: flex;
    margin-top: 70px;
    background-image: linear-gradient(to bottom right, hwb(258 0% 86% / 0.5), rgba(2, 1, 23, 0.5)), url(resources/Vectorrr.png);
    height: 500px;
    width: 1320;

}

#joinPatySctionTittle {
    color: white;
    width: 50%;
    padding: 40px 0px 0px 70px;
}

#joinPatySctionImg img {
    height: 365px;
    padding: 80px 180px;
}

#giftGallaryImageSection img {
    padding: 5px;
}

#giftGallarySection {
    margin-top: 100px;
}


#NewsletterSection {
    margin-top: 50px;
    background-color: #f3d7c9;
    padding: 30px 0px;
}

#mailImg {
    padding: 10px 600px;

}

#emailSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerSection {
    padding: 50px;
    color: whitesmoke;
    background-color: black;
    height: 600px;
    /* width: 100%; */

}
#contractUsSection{
    margin: 60px 0px;
}
#socialMediaAcc {
    display: flex;
    justify-content: center;
    margin: 60px 0px;
}