body {
    padding: 0px 50px;
}

#headerBanner {
    background-image: linear-gradient(to bottom right, hwb(258 0% 86% / 0.5), rgba(7, 5, 56, 0.5)), url(resources/Banner\ Image.png);
    background-size: cover;
    background-position: center;
    height: 600px;
}

#headerBannerTittle {
    height: 245px;
    color: white;
    text-align: center;
    padding-top: 120px;
    font-size: 40px;
}


#offerSection {
    text-align: center;

}
#joinPatySction{
    
}